<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://test.smok-serwis.pl:5432/l4_scrooge</property>
    <property name="hibernate.connection.username">l4_common</property>
    <property name="hibernate.connection.password">fortheemperor</property>
    <mapping class="" file="" jar="" package="" resource="models/AssetNotes.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="models/Lends.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="models/Report.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="models/Location.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="models/Assets.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="models/Users.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="models/ReportItem.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
